@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-primary-bgColor font-display;
	}
	input::placeholder {
		@apply text-primary-gray;
	}
}

@layer utilities {
	.hidden-scrollbar {
		-ms-overflow-style: none; /* IE, Edge 対応 */
		scrollbar-width: none; /* Firefox 対応 */
	}
	.hidden-scrollbar::-webkit-scrollbar {
		/* Chrome, Safari 対応 */
		display: none;
	}
}
